.foroP, .contenido, form{
	display: inline-block;
	width: 100%;
	text-align: center;
}
.pregunta{
	width: 80%;
	background-color: white;
	margin-bottom: 15px;
	border-radius: 8px;
	display: inline-block;
}
.pregunta:hover{
	color: var(--botonAzul);
	cursor: pointer;
}
button{
	display: inline-block;	
}
.Respuestas{
	background-color: white;
	width: 80%;
	border-radius: 8px;
	padding: 1px;
	margin-bottom: 15px;
	display: inline-block;
	text-align: left;
	padding-left: 10px;
}
.contestar{
	width: 90%;
	margin-left: 30px;
	display: inline-block;
}
textarea, .nuevaPre{
	width: 85%;
	border-radius: 8px;
	font-size: 18px;
	margin-bottom: 5px;
}

